# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user state
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode build artifacts
build/
DerivedData/
*.moved-aside

# Swift Package Manager build artifacts
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
